//进度管理
body {
    .viewOpen {
        .addMList:last-child {
            .mdnPlus {
                display: none;
            }
        }
    }
    #projectProgress {
        .main {
            .content {
                padding: 20px 10px 0 10px;
                .ppHerder {
                    display: flex;
                    justify-content: space-between;
                    > div {
                        display: flex;
                        .el-input,
                        .el-select {
                            margin-right: 20px;
                        }
                    }
                }
                .fourLicheng {
                    padding: 20px 0 40px 0;
                    .flMain {
                        .flmTips {
                            text-align: center;
                            // margin-top: 20px;
                            line-height: 16px;
                            height: 16px;
                            vertical-align: middle;
                            font-size: 15px;
                            img {
                                vertical-align: middle;
                            }
                        }
                        .flmList {
                            margin-bottom: 30px;
                            margin-top: 20px;
                            > div {
                                display: flex;
                                .list {
                                    .listtop {
                                        display: flex;
                                        .ltlp {
                                            width: 28px;
                                            height: 28px;
                                            cursor: pointer;
                                            position: relative;
                                            img {
                                                width: 100%;
                                            }
                                            span {
                                                position: absolute;
                                                left: 0;
                                                display: inline-block;
                                                width: 28px;
                                                height: 28px;
                                                text-align: center;
                                                font-size: 14px;
                                                line-height: 28px;
                                                color: #6b6a6a;
                                            }
                                        }
                                        .ltr {
                                            width: 80px;
                                            .el-progress {
                                                margin-top: 11px;
                                            }
                                        }
                                    }
                                    .listbottom {
                                        margin-top: 8px;
                                        width: 100px;
                                        cursor: pointer;
                                        font-size: 15px;
                                        font-weight: 700;
                                        color: #888;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                    }
                                }
                            }
                        }
                    }
                    // > div {
                    //     padding: 0 20px;
                    //     overflow-x: auto;
                    //     overflow-y: hidden;
                    //     display: flex;
                    //     height: 600px;
                    //     width: 100%;
                    //     // background-color: rgb(155, 198, 253);
                    //     background: url('../assets/workbench/pbac.png') repeat;
                    //     // background-size: 100% 100%;
                    //     .proFdiv {
                    //         display: flex;
                    //         height: 200px;
                    //         margin-top: 200px;
                    //         position: relative;
                    //         .prostartdiv {
                    //             position: relative;
                    //             width: 68px;
                    //             img {
                    //                 position: absolute;
                    //                 bottom: 0;
                    //             }
                    //         }
                    //     }
                    //     .prodiv {
                    //         display: flex;
                    //         height: 200px;
                    //         margin-top: 200px;
                    //         position: relative;

                    //         .proldiv {
                    //             width: 290px;
                    //             position: relative;
                    //             img {
                    //                 width: 100%;
                    //                 position: absolute;
                    //                 bottom: 0;
                    //             }
                    //         }
                    //         .promtdiv {
                    //             position: relative;
                    //             width: 68px;
                    //             .tcimg {
                    //                 position: absolute;
                    //                 top: -50px;
                    //                 width: 100%;
                    //             }
                    //             .tclockimg {
                    //                 position: absolute;
                    //                 width: 30px;
                    //                 left: 25%;
                    //                 top: -36px;
                    //             }
                    //             .mbContent {
                    //                 position: absolute;
                    //                 width: 200px;
                    //                 top: 34px;
                    //                 left: -33px;
                    //                 color: #fff;
                    //                 > div {
                    //                     font-size: 16px;
                    //                     margin-bottom: 3px;
                    //                 }
                    //             }
                    //         }
                    //         .prombdiv {
                    //             position: relative;
                    //             width: 68px;
                    //             .tcimg {
                    //                 position: absolute;
                    //                 bottom: 0;
                    //                 width: 100%;
                    //             }
                    //             .tclockimg {
                    //                 position: absolute;
                    //                 width: 30px;
                    //                 left: 25%;
                    //                 bottom: 20px;
                    //             }
                    //             .mbContent {
                    //                 position: absolute;
                    //                 width: 200px;
                    //                 bottom: -100px;
                    //                 left: -33px;
                    //                 color: #fff;
                    //                 > div {
                    //                     font-size: 16px;
                    //                     margin-bottom: 3px;
                    //                 }
                    //             }
                    //         }
                    //         .prordiv {
                    //             width: 290px;
                    //             position: relative;
                    //             img {
                    //                 width: 100%;
                    //                 position: absolute;
                    //                 right: 0;
                    //                 bottom: 0;
                    //                 transform: rotateX(180deg);
                    //             }
                    //         }
                    //     }
                    // }
                }
                .ppcontent {
                    .panelList {
                        margin: 10px 0;
                        display: flex;
                        width: 96%;
                        margin: 0 auto;
                        padding-top: 10px;
                        flex-wrap: wrap;
                        padding: 20px 0;
                        @media screen and (max-width: 1250px) {
                            .progress {
                                width: 44%;
                            }
                        }
                    }
                    .progress {
                        font-size: 16px;
                        position: relative;
                        background-color: #f9f9f9;
                        width: 30%;
                        margin: 25px 20px;
                        border: 1px solid #ffffff;
                        border-radius: 10px;
                        cursor: pointer;
                        .proDark {
                            position: absolute;
                            text-align: center;
                            width: 100%;
                            height: 100%;
                            top: -14px;
                            background-color: rgba(0, 0, 0, 0.5);
                            padding-top: 14px;
                            i {
                                color: #ff1e1e;
                                position: absolute;
                                top: 35%;
                                left: 44%;
                                font-size: 60px;
                            }
                        }
                    }
                    .progress > .biao {
                        position: absolute;
                        left: 15px;
                        top: -14px;
                        width: 50px;
                        height: 50px;
                    }
                    .project-title {
                        padding: 10px 0;
                        font-size: 16px;
                        border-bottom: 1px solid #dadada;
                        text-align: center;
                        box-sizing: border-box;
                        width: 100%;
                        // height: 20px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .circle {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px;
                    }
                }
                .pprogressChart {
                    padding: 20px 0 40px 0;
                    .pchart {
                        display: flex;
                        justify-content: space-between;
                        #progressBar {
                            width: 35%;
                        }
                        .prchart {
                            width: 60%;
                        }
                    }
                }
                .left-container {
                    height: 600px;
                }
                #pane-second {
                    padding-bottom: 20px;
                    overflow-y: auto;
                }
                .gantBtn {
                    text-align: center;
                    margin: 20px 0 30px 0;
                }
            }
            .el-dialog {
                .el-date-editor,
                .el-select {
                    width: 100%;
                }
                // .newmember {
                //     width: 500px;
                //     margin: 0 auto;
                .upOrg {
                    .el-form-item__label:before {
                        content: '*';
                        color: #f56c6c;
                        margin-right: 4px;
                    }
                    .el-button {
                        width: 100%;
                        text-align: left;
                        > span {
                            display: inline-block;
                            width: 100%;
                            span {
                                display: inline-block;
                                width: 94%;
                            }
                        }
                    }
                    .addNewDiv {
                        border: 1px solid #ccc;
                        width: 100%;
                        position: absolute;
                        background: #fff;
                        z-index: 3;
                        left: 0;
                        top: 48px;
                        max-height: 196px;
                        overflow-y: auto;
                        .addNewList {
                            padding-left: 10px;
                            li {
                                div {
                                    line-height: 26px;
                                    cursor: pointer;
                                }
                                ul {
                                    padding-left: 10px;
                                }
                            }
                        }
                    }
                }
                .ctype {
                    .el-select {
                        width: 100%;
                    }
                }
                // }
            }
            .uploadExcel {
                .el-form-item__label:before {
                    content: '*';
                    color: #f56c6c;
                    margin-right: 4px;
                }
                .newExcel {
                    width: 80%;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;
                    .el-date-editor.el-input {
                        width: 100%;
                    }
                    .leftForm {
                        width: 50%;
                        min-width: 400px;
                        border: 1px solid #d9d9d9;
                        padding: 30px;
                        border-radius: 10px;
                        .el-select {
                            width: 100%;
                        }
                        .newtijiao {
                            .newcom {
                                text-align: center;
                                border: 1px dashed #d9d9d9;
                                background-color: #f5f5f5;
                                border-radius: 5px;
                                padding: 20px 0;
                            }
                            .el-form-item__content {
                                margin-left: 80px;
                            }
                        }
                    }
                    .rightPic {
                        img {
                            width: 320px;
                        }
                    }
                }
            }
        }
    }
    #projectQuality,
    #projectContract,
    #projectCost,
    #projectSafe {
        .main {
            .content {
                .comeSearch {
                    .el-form {
                        display: flex;
                        justify-content: space-between;
                        .searchLeft {
                            width: 100%;
                            // display: flex;
                            .slContent {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                .searchInput {
                                    display: flex;
                                    .el-input {
                                        width: 500px;
                                        margin-right: 20px;
                                    }
                                    .el-input__prefix {
                                        height: 40px;
                                    }
                                }
                                .searchRight {
                                    .el-form-item__content {
                                        text-align: right;
                                    }
                                }
                            }
                            .srbContent {
                                width: 100%;
                                display: flex;
                                .el-form-item__content {
                                    width: 150px;
                                }
                                // .srbcs {
                                //     .el-form-item__label {
                                //         width: 70px;
                                //     }
                                //     .el-form-item__content {
                                //         margin-left: 70px;
                                //     }
                                // }
                            }
                        }
                    }
                }
                .pb_third {
                    display: flex;
                    justify-content: flex-end;
                    margin: 0 0 20px 0;
                }
                //基础设置
                .projectBasic {
                    padding-bottom: 40px;
                    .el-tag {
                        border: 0;
                        background-color: #fff;
                        color: #9ea0a3;
                        margin-right: 20px;
                        font-size: 16px;
                        padding: 4px 0;
                        .el-icon-close {
                            top: -7px;
                            border: 1px solid #9ea0a3;
                            color: #9ea0a3;
                            height: 14px;
                            width: 14px;
                            line-height: 14px;
                        }
                    }
                }
                .qualityChart {
                    padding: 20px 0 40px 0;
                    .qualityChartTop {
                        text-align: center;
                        margin-bottom: 20px;
                        .el-button {
                            margin-left: 30px;
                        }
                    }
                    .qchart {
                        display: flex;
                        justify-content: space-between;
                        height: 500px;
                        #qualityLX,
                        #qualityDJ {
                            width: 46%;
                        }
                    }
                }
            }
        }
    }
    #complexPicker {
        .pickerMain {
            height: 500px;
            display: flex;
            justify-content: space-between;
            .pickerLeft {
                width: 49%;

                border-right: 1px solid #d6d6d6;
                > div {
                    height: 100%;
                    overflow-y: auto;
                    padding: 0 20px;
                }
                .prSearch {
                    display: inline-block;
                    width: 50px;
                    border: 0;
                    margin-left: 6px;
                }
                .prSearch:focus {
                    outline: none;
                }
                .el-tag {
                    margin: 4px 6px;
                }
                .search-list {
                    display: inline-block;
                    position: relative;
                    .active {
                        color: #fff;
                        background: #409eff;
                        border: 1px solid #409eff;
                    }
                    .search-select {
                        width: 300px;
                        height: 200px;
                        // border: 1px solid #eee;
                        position: absolute;
                        overflow-y: auto;
                        top: 25px;
                        ul {
                            height: 100%;
                            li {
                                cursor: pointer;
                                height: 40px;
                                font-size: 14px;
                                padding: 6px;
                                display: flex;
                                background-color: rgba(214, 210, 210, 0.47);
                                > div:nth-child(1) {
                                    margin-right: 6px;
                                    img,
                                    span {
                                        height: 40px;
                                        width: 40px;
                                        border-radius: 50%;
                                    }
                                    span {
                                        background-color: #409eef;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .pickerRight {
                width: 50%;
                position: relative;
                > div {
                    height: 100%;
                    padding: 0 20px;
                    overflow-y: auto;
                }
                .prTitle {
                    position: absolute;
                    top: 0;
                    left: 20px;
                    height: 30px;
                    font-size: 18px;
                    font-weight: 700;
                }
                .breadContent {
                    position: relative;
                    margin-top: 30px;
                    > i {
                        position: absolute;
                        bottom: 0;
                        cursor: pointer;
                        font-size: 16px;
                    }
                    .el-breadcrumb {
                        margin: 20px 0;
                        padding-left: 22px;
                        .el-breadcrumb__item {
                            span {
                                cursor: pointer;
                                color: #409eef;
                            }
                        }
                        .el-breadcrumb__item:last-child {
                            span {
                                color: #606266;
                            }
                        }
                    }
                }
                .pickerBottomMain {
                    .pbPeopleList {
                        position: relative;
                        margin: 8px 0;
                        .youPic,
                        .noPic {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            img {
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                vertical-align: middle;
                            }
                        }
                        .youPic {
                            margin-right: 8px;
                        }
                        .noPic {
                            background-color: #409eef;
                        }
                        .pbpR {
                            position: absolute;
                            right: 0;
                            top: 25%;
                            color: #409eef;
                            cursor: pointer;
                        }
                        .lockNext {
                            color: #d6d6d6;
                        }
                    }
                }
            }
        }
    }
}
